*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 62.5%;
}

html, body, main{
    min-height: 100vh;
}

main{
    background: url(../img/paris.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;

}

main #content{
    position: fixed;
    top: 50%;
    right: 10vw;
    color: white;
    background: rgba(0,0,0,0.4);
    width: 50vw;
    max-height: 80vh;
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 3px;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translate(0,-50%);
 
}

/*Vertical*/

main #content:hover{
    padding-right: 4px;
}

main #content:hover::-webkit-scrollbar{
    display: inherit;
}

main #content::-webkit-scrollbar{
    display: none;
    background-color: rgba(0,0,0,0.0); 
    width: 6px;
}

main #content::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.0);
}

main #content::-webkit-scrollbar-thumb{
    background-color:#222;
    border-radius: 3px;
}

/*Horizontal*/
main #content #prevision-hours tbody:hover td{
    padding-right: 4px;
}


main #content #prevision-hours tbody:hover::-webkit-scrollbar{
    display: inherit;
}

main #content #prevision-hours tbody::-webkit-scrollbar{
    display: none;
    background-color: rgba(0,0,0,0.0); 
    height: 6px;
}

main #content #prevision-hours tbody::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0.0);
}

main #content #prevision-hours tbody::-webkit-scrollbar-thumb{
    background-color:#222;
    border-radius: 3px;
}

main #content table{
    width: 100%;
    font-size: 1.2rem;
    border-collapse: collapse;
}

main #content table caption{
    text-align: left;
    font-size: 1.6rem;
    padding: 4px 0;
    font-weight: normal;
    white-space: nowrap;
}

main #content table td{
    padding: 8px 0px;
    border-top: 1px solid white;
}

main #content #prevision-hours{
    display: block;
}

main #content #prevision-hours tbody{
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}

main #content table:last-child tr td:nth-child(1){
    width: 15%;
}
main #content table:last-child tr td:nth-child(3),
main #content table:last-child tr td:nth-child(4){
    width: 5%;
}

main #weather {
    margin-bottom: 10px;
}

main #weather .current {
    font-size: 7.2rem; /* Prise en charge des nouveaux navigateurs*/
    
}

main #weather .maximal,
main #weather .minimal {
    font-size: 2rem; /* Prise en charge des nouveaux navigateurs*/
    
}

main #weather .ciel {
    font-size: 3rem; /* Prise en charge des nouveaux navigateurs*/
    
}


@media (max-width: 767.98px) { 
    main #content{
        top: 3vh;
        bottom: 3vh;
        left: 3vh;
        right: 3vh;
        transform: none;
        width: auto;
        max-height: none;
    }

 }
